html,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 14px;
  color: #333;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  margin-top: 20px;
}
p {
  font-weight: 100;
  margin: 10px 0;
}
a {
  color: #898ef3;
}
h1 {
  color: #000;
  font-weight: 100;
  font-size: 24px;
}
body {
  background: #ebebeb;
  min-height: 100vh;
  font-size: 16px;
}
#container-wrap {
  position: relative;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clear {
  clear: both;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.main-content {
  box-shadow: 0 15px 35px rgba(50,50,93,0.1), 0 5px 15px rgba(0,0,0,0.07) !important;
  max-width: 720px;
  margin: auto;
  min-height: calc(100vh - 380px);
  background: #fff;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
}
#footer {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  font-size: 16px;
  color: #888;
  font-weight: lighter;
}
#header {
  width: 100%;
  height: 300px;
  background-color: #e4e4e4;
  background-image: url("../../img/bg.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.header-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 1s;
  animation: fade-in-down 0.6s;
  animation-delay: 0.2s;
}
.header-img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
#header-outer {
  height: 100%;
}
#header-outer #header-title {
  margin-top: 30px;
}
#header-outer #header-title .header-img {
  margin: auto;
  display: block;
}
#header-outer #header-inner .header_info {
  width: 960px;
  margin: auto;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
}
#header-outer #header-inner .header_info .main-nav {
  float: right;
  text-align: center;
}
#header-outer .header_p {
  text-align: center;
  margin-top: 32px;
  color: #f38c8c;
  font-style: italic;
  font-weight: 300;
  display: block;
  position: relative;
}
#header-outer .header_logo {
  font-size: 24px;
  color: #f38c8c;
  position: relative;
}
#header-outer .header_logo:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #49b1f5;
  transition: all 0.5s;
}
#header-outer .header_logo:hover {
  color: #49b1f5;
  transition: all 0.5s;
}
#header-outer .header_logo:hover:after {
  left: 0;
  width: 100%;
  transition: all 0.5s;
}
#header-outer .main-nav-link {
  color: #f38c8c;
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
}
#header-outer .main-nav-link:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #49b1f5;
  transition: all 0.5s;
}
#header-outer .main-nav-link:hover {
  color: #49b1f5;
  transition: all 0.5s;
}
#header-outer .main-nav-link:hover:after {
  left: 0;
  width: 100%;
  transition: all 0.5s;
}
.posts {
  padding: 30px;
  padding-left: 40px;
  min-height: calc(100vh - 440px);
}
.post {
  padding-bottom: 20px;
}
.post-title-link {
  color: #080808;
  font-weight: 300;
  font-size: 24px;
  position: relative;
}
.post-title-link:before {
  content: "  ";
  position: absolute;
  top: 15px;
  left: -20px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #1f1f1f;
}
.post-title-link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #898989;
  transition: all 0.5s;
}
.post-title-link:hover {
  color: #898989;
}
.post-title-link:hover:after {
  width: 100%;
  transition: all 0.5s;
}
.post-time {
  color: #1f1f1f;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
  display: block;
}
.highlight {
  position: relative;
  margin-top: 3px;
  margin-bottom: 4px;
  overflow: auto;
  display: block;
  background: rgba(121,118,110,0.1);
  font-size: 14px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 3px 0 10px;
}
.highlight pre .line {
  line-height: 20px;
}
.highlight table {
  margin: 0;
}
.highlight td {
  border: none;
  padding: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url("../../ico/iconfont.eot");
  src: url("../../ico/iconfont.eot?#iefix") format('embedded-opentype'), url("../../ico/iconfont.woff2") format('woff2'), url("../../ico/iconfont.woff") format('woff'), url("../../ico/iconfont.ttf") format('truetype'), url("../../ico/iconfont.svg#iconfont") format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.post-footer {
  border-top: 1px solid #ebebeb;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 13px;
}
.post-footer .tag-container {
  line-height: 28px;
}
.post-footer .tag-container .article-tag .tag-iconfont {
  display: block;
  float: left;
  color: #f38c8c !important;
}
.post-footer .tag-container .article-tag .article-tag-list {
  overflow: hidden;
  float: left;
}
.post-footer .tag-container .article-tag .article-tag-list li {
  float: left;
  margin-left: 5px;
}
.post-footer .tag-container .article-tag .article-tag-list li a {
  color: #959595;
}
.post-footer .tag-container .article-tag .article-tag-list li a:hover {
  color: #49b1f5;
}
.post-footer .tag-container .article-category {
  margin-left: 15px;
}
.post-footer .tag-container .article-category .category-iconfont {
  color: #f38c8c !important;
}
.post-footer .tag-container .article-category a {
  color: #959595;
}
.post-footer .tag-container .article-category a:hover {
  color: #49b1f5;
}
.post-footer .tag-container .article-more-link {
  float: right;
  padding-right: 5px;
}
.post-footer .tag-container .article-more-link a {
  color: #959595;
}
.post-footer .tag-container .article-more-link a:hover {
  color: #49b1f5;
}
.pages-nav {
  padding: 30px 0px;
  text-align: center;
  height: 85px;
  border-top: 1px dashed #ccc;
}
.pages-nav .current {
  color: #333;
  padding-right: 10px;
}
.pages-nav a {
  color: #959595;
  padding-right: 10px;
}
.pages-nav a:hover {
  color: #4a4a4a;
}
.widget-wrap {
  overflow: hidden;
  padding: 20px 35px;
}
.widget-wrap h3 {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  color: #000;
}
.tag-list-item {
  float: left;
}
.tag-list-item a {
  margin: 10px 10px;
  padding: 0 14px;
  display: inline-block;
  height: 38px;
  min-width: 80px;
  line-height: 39px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0);
  background-color: #fef9e7;
  color: #848484;
  text-align: center;
}
.tag-list-item a:hover {
  background-color: #f8c471;
}
.category-list-item {
  float: left;
  margin: 10px 10px;
  padding: 5px 14px;
  display: inline-block;
  font-size: 26px;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12);
  background-color: #fef9e7;
  color: #f38c8c;
  text-align: center;
}
.category-list-item a {
  color: #f38c8c;
}
.category-list-item span {
  font-size: 16px;
}
.category-list-item:hover {
  background-color: #f8c471;
}
.category-list-count {
  padding-left: 5px;
}
.category-list-count::before {
  content: "(";
}
.category-list-count::after {
  content: ")";
}
.widget_cloud {
  margin-top: 20px;
}
.widget_cloud a {
  margin: 10px 10px;
  padding: 5px 14px;
  display: inline-block;
  background-color: #fef9e7;
  font-weight: 500;
  border-radius: 5px;
  word-wrap: break-word;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12);
}
.widget-title {
  font-weight: 400 !important;
}
.widget_categories {
  margin-top: 20px;
  overflow: hidden;
}
.time-container {
  padding: 15px;
}
.time-container .time-row .one-tag-list {
  padding: 0 45px 15px;
}
.time-container .time-row .one-tag-list .year-title {
  font-size: 22px;
  line-height: 32px;
  color: #888;
  margin: 5px 0;
  display: block;
}
.time-container .time-row .one-tag-list ul {
  margin-left: 18px;
}
.time-container .time-row .one-tag-list ul li {
  color: #888;
  padding: 8px 0 10px;
  position: relative;
  border-left: 1.4px dashed #ccc;
  padding-left: 25px !important;
}
.time-container .time-row .one-tag-list ul li a {
  margin-left: 20px;
  color: #888;
}
.time-container .time-row .one-tag-list ul li a:hover {
  color: #49b1f5;
}
.time-container .time-row .one-tag-list ul li span {
  color: #999;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: 2px;
}
.title-list::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-style: solid;
  border-color: #f38c8c;
  border-radius: 50%;
  background: #fff;
  content: "";
  transition: all 0.3s ease;
  width: 9px;
  height: 9px;
  left: -5px;
  border-width: 3px;
  background-color: #f38c8c;
}
.article-content {
  padding: 20px 25px;
}
.article-content .article_head h1 {
  text-align: center;
  font-weight: 300;
  font-size: 24px;
}
.article-content .article-head-meta {
  margin-top: 10px;
  line-height: 28px;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}
.article-content .article-head-meta a {
  color: #1f1f1f;
  font-size: 14px;
}
.tag_content {
  padding: 15px;
}
.tag_content .tag_rows {
  padding: 38px 0 0 140px;
}
.tag_content .tag_rows .tag-post {
  font-size: 26px;
  line-height: 32px;
  color: #888;
  display: block;
  margin-bottom: 20px;
}
.tag_content .tag_rows .archive-article-inner {
  padding: 0px 35px 15px 55px;
}
.tag_content .tag_rows .archive-article-inner a {
  color: #888;
}
.tag_content .tag_rows .archive-article-inner a:hover {
  color: #49b1f5;
}
.tag_content .tag_rows .archive-article-inner span {
  float: right;
  color: #6b6b6b;
}
.category_content {
  padding: 15px;
}
.category_content .category_rows {
  padding: 38px 0 0 140px;
}
.category_content .category_rows .category-post {
  font-size: 26px;
  line-height: 32px;
  color: #888;
  display: block;
  margin-bottom: 20px;
}
.category_content .category_rows .archive-article-inner {
  padding: 0px 35px 15px 55px;
}
.category_content .category_rows .archive-article-inner a {
  color: #888;
}
.category_content .category_rows .archive-article-inner a:hover {
  color: #49b1f5;
}
.category_content .category_rows .archive-article-inner span {
  float: right;
  color: #6b6b6b;
}
